
.filter-item-heading {
    margin-bottom: 10px;
}

.filter-item {
    margin-bottom: 10px;
}

.facet-checkbox-text {
    font-size: 14px;
    line-height: 1;
    padding-top: 2px;
}

.filter_item_label {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.filter-info-item {
    margin-bottom: 7px;
}

.filter-arrow {
    display: flex;
    width: 10px;
}

.filter-item-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.filter-arrow svg {
    transform: rotate(90deg);
}

.filter-arrow svg {
    transition: 300ms;
}

.filter-item-heading span {
    font-size: 15px;
}

.filter-item {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.filter-item:last-child {
    padding-bottom: 0;
    border: none;
}

.filter-item-heading.inactive svg {
    transform: rotate(270deg);
}

/* price filter  */

::selection {
  color: #fff;
  /* background: #17a2b8; */
  background: red;
}
.price-filter-wrapper {
  width: 100%;
  padding-top: 12px;
}

.price-filter-input {
  width: 100%;
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  align-items: center;
}

.price-filter-input .price-filter-field {
  width: 40%;
  height: 35px;
  align-items: center;
}
.price-filter-field span {
    display: block;
    font-size:12px;
    text-align: center;
}
.price-filter-field input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 14px;
    border: none;
    outline: none;
    box-shadow: none;
    text-align: center;
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.price-filter--input .separator {
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}

.price-filter-slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}

.price-filter-slider .progress {
  height: 100%;
  left: 0;
  right: 17%;
  position: absolute;
  border-radius: 5px;
  background: #17a2b8;
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #17a2b8;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #17a2b8;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

.filter-price-input {
    border: 1px solid #999;
    position: relative;
    border-radius: 5px;
}

.price-currency {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.mobile-heading {
    display: none;
}
@media only screen and (max-width:767px) {
    .mobile-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    
    .filter-close svg {
        width: 20px;
        height: 20px;
    }
    
    .filter-close {
        display: flex;
    }
    
    .filter-heading {
        font-size: 18px;
        line-height: 20px;
    }
}